* {
  margin: 0px;
  font: inherit;
  text-decoration: none;
  border: none;
}

body{
  display: flex;
  justify-content: center;
}

.main {
  width: 360px;
  height: 640px;
  background-color: lightblue;
  /* background-color: #E5E5E5; */
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  background-color: #E5E7EB;
}