* {
  margin: 0px;
  font: inherit;
  text-decoration: none;
  border: none;
}

body{
  display: flex;
  justify-content: center;
}

.main {
  width: 360px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  background-color: #E5E7EB;
}

.add-img {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 48px;
  background-color: #E5E7EB;
  gap: 96px;
  padding-right: 19px;
}