<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style.css">
  <title>Login</title>
</head>
<body>
  <main class="main">

    <header class="header">
      <img src="../assets/img/{doable}.svg" />
    </header>

    <form class="login-form">
      <div class="form">
          
        <div class="label-input">
          <label>Email</label>
          <input type="username" class="input" name="username" placeholder="you@example.com" />
        </div>

        <div class="label-input">
          <label>Password</label>
          <input type="password" class="input" name="password" placeholder="******" />
        </div>

        <button type="submit">Login</button>

        <a href="#signup">Create account</a>

        <button type="submit">Create account</button>

        <a href="#signup">Login</a>
      </div>
    </form>

  </main>
</body>
</html>